<?xml version="1.0"?>
<launch>
  <node pkg="mini_quadrotor" type="crocoddyl_test" name="crocoddyl_test" output="screen">
    <param name="filename" value="$(find mini_quadrotor)/urdf/robot.urdf"/>
    <param name="num_threads" value="4"/>
    <param name="hovering_approximate" value="false"/>
    <param name="horizon" value="1"/>
    <param name="dt" value="0.01"/>

    <param name="x_reg_weight" value="0.0001"/>
    <param name="x_reg_final_weight" value="0.0001"/>
    <param name="u_reg_weight" value="1"/>
    <param name="goal_tracking_weight" value="0.1"/>
    <param name="rotation_tracking_weight" value="0.1"/>
    <param name="terminal_goal_tracking_weight" value="1000000"/>
    <param name="terminal_rotation_tracking_weight" value="100"/>

    <rosparam command="load" file="$(find mini_quadrotor)/config/mpc_config.yaml"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mini_quadrotor)/config/rviz_config"/>

</launch>
