<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="hydragon" >

  <xacro:arg name="robot_name" default="hydragon" />

  <!-- robot urdf -->
  <xacro:include filename="$(find hydragon)/robots/robot.urdf.xacro" />

  <!-- gazebo plugin for default controller and sensors -->
  <xacro:include filename="$(find aerial_robot_simulation)/xacro/spinal.gazebo.xacro" />
  <xacro:gazebo_spinal robot_name="$(arg robot_name)" />

  <!-- friction -->
  <xacro:macro name="friction" params="self">
    <gazebo reference="front${self}_link">
      <mu1>0.7</mu1>
      <mu2>0.7</mu2>
    </gazebo>
    <gazebo reference="end${self}_link">
      <mu1>0.7</mu1>
      <mu2>0.7</mu2>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="damping_factor" params="link">
    <gazebo reference="${link}">
      <dampingFactor>0.01</dampingFactor>
    </gazebo>
  </xacro:macro>

  <xacro:friction self="1"/>
  <xacro:friction self="2"/>
  <xacro:friction self="3"/>
  <xacro:friction self="4"/>

  <xacro:damping_factor link="front1_link"/>
  <xacro:damping_factor link="front2_link"/>
  <xacro:damping_factor link="front3_link"/>
  <xacro:damping_factor link="front4_link"/>
  <xacro:damping_factor link="end1_link"/>
  <xacro:damping_factor link="end2_link"/>
  <xacro:damping_factor link="end3_link"/>
  <xacro:damping_factor link="end4_link"/>
  <xacro:damping_factor link="gimbal1_link"/>
  <xacro:damping_factor link="gimbal2_link"/>
  <xacro:damping_factor link="gimbal3_link"/>
  <xacro:damping_factor link="gimbal4_link"/>
  <xacro:damping_factor link="duct1_link"/>
  <xacro:damping_factor link="duct2_link"/>
  <xacro:damping_factor link="duct3_link"/>
  <xacro:damping_factor link="duct4_link"/>

  <gazebo reference="thrust1">
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
  </gazebo>
  <gazebo reference="thrust2">
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
  </gazebo>
  <gazebo reference="thrust3">
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
  </gazebo>
  <gazebo reference="thrust4">
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
  </gazebo>

  <xacro:macro name="joint_transmission" params="joint">
    <transmission name="${joint}_tran">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${joint}_servo">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:macro name="rotor_transmission" params="id">
    <transmission name="rotor${id}_tran">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="rotor${id}">
        <hardwareInterface>RotorInterface</hardwareInterface>
      </joint>
      <actuator name="rotor${id}">
        <hardwareInterface>RotorInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:joint_transmission joint="front1_roll"/>
  <xacro:joint_transmission joint="gimbal1_pitch"/>
  <xacro:joint_transmission joint="end1_roll"/>
  <xacro:joint_transmission joint="joint1_yaw"/>
  <xacro:joint_transmission joint="front2_roll"/>
  <xacro:joint_transmission joint="gimbal2_pitch"/>
  <xacro:joint_transmission joint="end2_roll"/>
  <xacro:joint_transmission joint="joint2_yaw"/>
  <xacro:joint_transmission joint="front3_roll"/>
  <xacro:joint_transmission joint="gimbal3_pitch"/>
  <xacro:joint_transmission joint="end3_roll"/>
  <xacro:joint_transmission joint="joint3_yaw"/>
  <xacro:joint_transmission joint="front4_roll"/>
  <xacro:joint_transmission joint="gimbal4_pitch"/>
  <xacro:joint_transmission joint="end4_roll"/>

  <xacro:rotor_transmission id="1"/>
  <xacro:rotor_transmission id="2"/>
  <xacro:rotor_transmission id="3"/>
  <xacro:rotor_transmission id="4"/>

</robot>
