<?xml version='1.0' encoding='UTF-8'?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="screw_90deg_module">
  <xacro:macro name="screw_90deg_module" params="package_name:=gimbalrotor prefix:='' parent_link:=world xyz:='0 0 0' rpy:='0 0 0'">
    <joint name="${prefix}${parent_link}_to_${prefix}base_link_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="${prefix}base_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>
    <link name="${prefix}base_link">
      <inertial>
        <origin xyz="0.0103968242657149 9.09918637167594e-06 0.0216864027648383" rpy="0.0 -0.0 0.0"/>
        <mass value="0.0326146601839408"/>
        <inertia ixx="7.31440757794881e-06" ixy="1.87744826133299e-09" ixz="-3.64840488298395e-07" iyy="5.22875275247874e-06" iyz="1.92378635215547e-09" izz="6.19875400864727e-06"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://${package_name}/urdf/grape/meshes/arm/screw_90deg_module/base_link.dae"/>
        </geometry>
        <material name="${prefix}__unnamed_material_1"/>
        <origin xyz="0.0285 -1.88586037787625e-16 0.0285000000000001" rpy="3.14159265358979 -2.52653528463934e-16 1.57079632679489"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://${package_name}/urdf/grape/meshes/arm/screw_90deg_module/base_link.dae"/>
        </geometry>
        <origin xyz="0.0285 -1.88586037787625e-16 0.0285000000000001" rpy="3.14159265358979 -2.52653528463934e-16 1.57079632679489"/>
      </collision>
    </link>
    <link name="${prefix}dummy_link"/>
    <joint name="${prefix}dummy_joint" type="fixed">
      <limit effort="0.0" velocity="0.0"/>
      <parent link="${prefix}base_link"/>
      <child link="${prefix}dummy_link"/>
      <axis xyz="0. 0. 0."/>
      <origin xyz="0.0285 0.0 0.0285000000000001" rpy="3.141592653589793 1.570796326794893 3.141592653589793"/>
    </joint>
    <material name="${prefix}__unnamed_material_1">
      <color rgba="0.29803922 0.29803922 0.29803922 1.        "/>
    </material>
  </xacro:macro>
</robot>
