<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="dragon" >

  <xacro:arg name="rotor_fixed" default="false"/>

  <!-- temporary -->
  <xacro:include filename="$(find dragon)/urdf/dragon_common.xacro" />
  <xacro:include filename="$(find dragon)/urdf/dragon_link.urdf.xacro" />

  <xacro:dragon_module self="1" child="2" baselink="false" rotor_fixed="$(arg rotor_fixed)"/>
  <xacro:dragon_module self="2" child="3" baselink="true"  rotor_fixed="$(arg rotor_fixed)"/>
  <xacro:dragon_module self="3" child="4" baselink="false" rotor_fixed="$(arg rotor_fixed)"/>
  <xacro:dragon_module self="4" child="4" baselink="false" rotor_fixed="$(arg rotor_fixed)"/>

  <!-- set the fcu frame -->
  <link name="fc">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.00001"/>
      <inertia
          ixx="0.000001" ixy="0.0" ixz="0.0"
          iyy="0.000001" iyz="0.0"
          izz="0.000002"/>
    </inertial>
  </link>
  <joint name="fc_joint" type="fixed">
    <child link="fc"/>
    <parent link="link1"/>
    <origin rpy="0 0 0" xyz="0.316 -0.004 0.043"/>
    <axis xyz="0 0 1"/>
  </joint>

    <joint name="end_effector_joint" type="fixed">
    <parent link="link4"/>
    <child link="link4_tip"/>
    <origin xyz="${link_length} 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="link4_tip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.00001"/>
      <inertia
          ixx="0.000001" ixy="0.0" ixz="0.0"
          iyy="0.000001" iyz="0.0"
          izz="0.000002"/>
    </inertial>
  </link>

</robot>
