<?xml version='1.0' encoding='UTF-8'?>
<robot name="hydragon" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <link name="front1_link">
    <inertial>
      <origin xyz="-0.056027 -0.0013733 0.0074745" rpy="0.0 -0.0 0.0"/>
      <mass value="0.42744"/>
      <inertia ixx="0.00021055" ixy="3.1246e-10" ixz="-4.0813e-08" iyy="0.00010191" iyz="-4.0104e-07" izz="0.00021817"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hydragon/meshes/front1_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.1025 0.02 0.02"/>
      </geometry>
      <origin xyz="-0.0707756 0 0" rpy="0 0 0"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.034 0.0285 0.0465"/>
      </geometry>
      <origin xyz="-0.0710256 0 -0.039" rpy="0 0 0"/>
    </collision>
  </link>
  <link name="body1_link">
    <inertial>
      <origin xyz="-0.16731 0.025056 -0.00016724" rpy="0.0 -0.0 0.0"/>
      <mass value="0.36482"/>
      <inertia ixx="0.00016623" ixy="-3.3215e-07" ixz="-5.731e-09" iyy="0.00018621" iyz="-6.8029e-09" izz="0.00025293"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hydragon/meshes/body1_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.133 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.0459637 0.0796462 0" rpy="0 0 -1.0472"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.133 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.0459637 -0.0796462 0" rpy="0 0 1.0472"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.166 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.1699837 0.142 0" rpy="0 0 0"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.166 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.1699837 -0.142 0" rpy="0 0 0"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.133 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.2939837 0.0796462 0" rpy="0 0 1.0472"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.133 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.2939837 -0.0796462 0" rpy="0 0 -1.0472"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.0465 0.034 0.0285"/>
      </geometry>
      <origin xyz="-0.1579837 0.166 0" rpy="0 0 0"/>
    </collision>
  </link>
  <link name="duct1_link">
    <inertial>
      <origin xyz="-3.541e-05 0.00191 0.0014323" rpy="0.0 -0.0 0.0"/>
      <mass value="0.32337"/>
      <inertia ixx="0.0012194" ixy="2.2289e-07" ixz="-1.5989e-07" iyy="0.00099811" iyz="1.3306e-05" izz="0.0019906"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hydragon/meshes/duct1_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
  </link>
  <link name="thrust1">
    <inertial>
      <origin xyz="-2.7492e-06 -2.3311e-06 0.0039586" rpy="0.0 -0.0 0.0"/>
      <mass value="0.010724"/>
      <inertia ixx="1.6559e-05" ixy="-1.3587e-09" ixz="-2.9948e-11" iyy="1.6561e-05" iyz="1.3019e-11" izz="3.3082e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hydragon/meshes/thrust1.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <!--     <mesh filename="package://hydragon/meshes/thrust1.stl"/> -->
        <cylinder radius="0.125" length="0.1"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="end1_link">
    <inertial>
      <origin xyz="-0.036672 -2.1161e-05 0.0081671" rpy="0.0 -0.0 0.0"/>
      <mass value="0.31592"/>
      <inertia ixx="5.7571e-05" ixy="6.2131e-09" ixz="8.7034e-08" iyy="9.2786e-05" iyz="-8.9098e-12" izz="7.7319e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hydragon/meshes/end1_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.108 0.020 0.020"/>
      </geometry>
      <origin xyz="-0.0340163 0 0" rpy="0 0 0"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.034 0.0285 0.0465"/>
      </geometry>
      <origin xyz="-0.0310163 0 -39" rpy="0 0 0"/>
    </collision>
  </link>
  <link name="front2_link">
    <inertial>
      <origin xyz="-0.056027 -0.0013733 0.0074745" rpy="0.0 -0.0 0.0"/>
      <mass value="0.42744"/>
      <inertia ixx="0.00021055" ixy="3.1247e-10" ixz="-4.0813e-08" iyy="0.00010191" iyz="-4.0104e-07" izz="0.00021817"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hydragon/meshes/front2_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.1025 0.02 0.02"/>
      </geometry>
      <origin xyz="-0.0707756 0 0" rpy="0 0 0"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.034 0.0285 0.0465"/>
      </geometry>
      <origin xyz="-0.0710256 0 -0.039" rpy="0 0 0"/>
    </collision>
  </link>
  <link name="body2_link">
    <inertial>
      <origin xyz="-0.16731 0.025056 -0.00016724" rpy="0.0 -0.0 0.0"/>
      <mass value="0.36482"/>
      <inertia ixx="0.00016623" ixy="-3.3215e-07" ixz="-5.731e-09" iyy="0.00018621" iyz="-6.8029e-09" izz="0.00025293"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hydragon/meshes/body2_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.133 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.0459637 0.0796462 0" rpy="0 0 -1.0472"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.133 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.0459637 -0.0796462 0" rpy="0 0 1.0472"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.166 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.1699837 0.142 0" rpy="0 0 0"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.166 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.1699837 -0.142 0" rpy="0 0 0"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.133 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.2939837 0.0796462 0" rpy="0 0 1.0472"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.133 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.2939837 -0.0796462 0" rpy="0 0 -1.0472"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.0465 0.034 0.0285"/>
      </geometry>
      <origin xyz="-0.1579837 0.166 0" rpy="0 0 0"/>
    </collision>
  </link>
  <link name="duct2_link">
    <inertial>
      <origin xyz="-3.541e-05 0.00191 0.0014323" rpy="0.0 -0.0 0.0"/>
      <mass value="0.32337"/>
      <inertia ixx="0.0012194" ixy="2.2289e-07" ixz="-1.5989e-07" iyy="0.00099811" iyz="1.3306e-05" izz="0.0019906"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hydragon/meshes/duct2_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
  </link>
  <link name="thrust2">
    <inertial>
      <origin xyz="-2.5539e-06 -2.3067e-06 0.0039586" rpy="0.0 -0.0 0.0"/>
      <mass value="0.010724"/>
      <inertia ixx="1.6559e-05" ixy="-1.2942e-09" ixz="-2.6675e-11" iyy="1.6561e-05" iyz="1.4693e-11" izz="3.3081e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hydragon/meshes/thrust2.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <!--     <mesh filename="package://hydragon/meshes/thrust2.stl"/> -->
        <cylinder radius="0.125" length="0.1"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="end2_link">
    <inertial>
      <origin xyz="-0.036672 -2.1161e-05 0.0081671" rpy="0.0 -0.0 0.0"/>
      <mass value="0.31592"/>
      <inertia ixx="5.7571e-05" ixy="6.2131e-09" ixz="8.7034e-08" iyy="9.2786e-05" iyz="-8.9132e-12" izz="7.7319e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hydragon/meshes/end2_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.108 0.020 0.020"/>
      </geometry>
      <origin xyz="-0.0340163 0 0" rpy="0 0 0"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.034 0.0285 0.0465"/>
      </geometry>
      <origin xyz="-0.0310163 0 -39" rpy="0 0 0"/>
    </collision>
  </link>
  <link name="front3_link">
    <inertial>
      <origin xyz="-0.056027 -0.0013733 0.0074745" rpy="0.0 -0.0 0.0"/>
      <mass value="0.42744"/>
      <inertia ixx="0.00021055" ixy="3.1248e-10" ixz="-4.0813e-08" iyy="0.00010191" iyz="-4.0104e-07" izz="0.00021817"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hydragon/meshes/front3_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.1025 0.02 0.02"/>
      </geometry>
      <origin xyz="-0.0707756 0 0" rpy="0 0 0"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.034 0.0285 0.0465"/>
      </geometry>
      <origin xyz="-0.0710256 0 -0.039" rpy="0 0 0"/>
    </collision>
  </link>
  <link name="body3_link">
    <inertial>
      <origin xyz="-0.16731 0.025056 -0.00016724" rpy="0.0 -0.0 0.0"/>
      <mass value="0.36482"/>
      <inertia ixx="0.00016623" ixy="-3.3215e-07" ixz="-5.731e-09" iyy="0.00018621" iyz="-6.8029e-09" izz="0.00025293"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hydragon/meshes/body3_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.133 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.0459637 0.0796462 0" rpy="0 0 -1.0472"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.133 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.0459637 -0.0796462 0" rpy="0 0 1.0472"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.166 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.1699837 0.142 0" rpy="0 0 0"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.166 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.1699837 -0.142 0" rpy="0 0 0"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.133 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.2939837 0.0796462 0" rpy="0 0 1.0472"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.133 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.2939837 -0.0796462 0" rpy="0 0 -1.0472"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.0465 0.034 0.0285"/>
      </geometry>
      <origin xyz="-0.1579837 0.166 0" rpy="0 0 0"/>
    </collision>
  </link>
  <link name="duct3_link">
    <inertial>
      <origin xyz="-3.541e-05 0.00191 0.0014323" rpy="0.0 -0.0 0.0"/>
      <mass value="0.32337"/>
      <inertia ixx="0.0012194" ixy="2.2289e-07" ixz="-1.5989e-07" iyy="0.00099811" iyz="1.3306e-05" izz="0.0019906"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hydragon/meshes/duct3_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
  </link>
  <link name="thrust3">
    <inertial>
      <origin xyz="-2.7294e-06 -2.4294e-06 0.0039586" rpy="0.0 -0.0 0.0"/>
      <mass value="0.010724"/>
      <inertia ixx="1.6559e-05" ixy="-1.3706e-09" ixz="-2.9799e-11" iyy="1.6561e-05" iyz="1.1361e-11" izz="3.3082e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hydragon/meshes/thrust3.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <!--     <mesh filename="package://hydragon/meshes/thrust3.stl"/> -->
        <cylinder radius="0.125" length="0.1"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="end3_link">
    <inertial>
      <origin xyz="-0.036672 -2.1161e-05 0.0081671" rpy="0.0 -0.0 0.0"/>
      <mass value="0.31592"/>
      <inertia ixx="5.7571e-05" ixy="6.2131e-09" ixz="8.7034e-08" iyy="9.2786e-05" iyz="-8.9132e-12" izz="7.7319e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hydragon/meshes/end3_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.108 0.020 0.020"/>
      </geometry>
      <origin xyz="-0.0340163 0 0" rpy="0 0 0"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.034 0.0285 0.0465"/>
      </geometry>
      <origin xyz="-0.0310163 0 -39" rpy="0 0 0"/>
    </collision>
  </link>
  <link name="front4_link">
    <inertial>
      <origin xyz="-0.056027 -0.0013733 0.0074745" rpy="0.0 -0.0 0.0"/>
      <mass value="0.42744"/>
      <inertia ixx="0.00021055" ixy="3.1248e-10" ixz="-4.0813e-08" iyy="0.00010191" iyz="-4.0104e-07" izz="0.00021817"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hydragon/meshes/front4_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.1025 0.02 0.02"/>
      </geometry>
      <origin xyz="-0.0707756 0 0" rpy="0 0 0"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.034 0.0285 0.0465"/>
      </geometry>
      <origin xyz="-0.0710256 0 -0.039" rpy="0 0 0"/>
    </collision>
  </link>
  <link name="body4_link">
    <inertial>
      <origin xyz="-0.16731 0.025056 -0.00016724" rpy="0.0 -0.0 0.0"/>
      <mass value="0.36482"/>
      <inertia ixx="0.00016623" ixy="-3.3215e-07" ixz="-5.731e-09" iyy="0.00018621" iyz="-6.8029e-09" izz="0.00025293"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hydragon/meshes/body4_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.133 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.0459637 0.0796462 0" rpy="0 0 -1.0472"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.133 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.0459637 -0.0796462 0" rpy="0 0 1.0472"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.166 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.1699837 0.142 0" rpy="0 0 0"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.166 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.1699837 -0.142 0" rpy="0 0 0"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.133 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.2939837 0.0796462 0" rpy="0 0 1.0472"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.133 0.010 0.030"/>
      </geometry>
      <origin xyz="-0.2939837 -0.0796462 0" rpy="0 0 -1.0472"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.0465 0.034 0.0285"/>
      </geometry>
      <origin xyz="-0.1579837 0.166 0" rpy="0 0 0"/>
    </collision>
  </link>
  <link name="duct4_link">
    <inertial>
      <origin xyz="-3.541e-05 0.00191 0.0014323" rpy="0.0 -0.0 0.0"/>
      <mass value="0.32337"/>
      <inertia ixx="0.0012194" ixy="2.2289e-07" ixz="-1.5989e-07" iyy="0.00099811" iyz="1.3306e-05" izz="0.0019906"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hydragon/meshes/duct4_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
  </link>
  <link name="thrust4">
    <inertial>
      <origin xyz="-2.7354e-06 -2.3382e-06 0.0039586" rpy="0.0 -0.0 0.0"/>
      <mass value="0.010724"/>
      <inertia ixx="1.6559e-05" ixy="-1.3583e-09" ixz="-2.999e-11" iyy="1.6561e-05" iyz="1.3027e-11" izz="3.3082e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hydragon/meshes/thrust4.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <!--     <mesh filename="package://hydragon/meshes/thrust4.stl"/> -->
        <cylinder radius="0.125" length="0.1"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="end4_link">
    <inertial>
      <origin xyz="-0.036672 -2.1161e-05 0.0081671" rpy="0.0 -0.0 0.0"/>
      <mass value="0.31592"/>
      <inertia ixx="5.7571e-05" ixy="6.2131e-09" ixz="8.7034e-08" iyy="9.2786e-05" iyz="-8.9133e-12" izz="7.7319e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hydragon/meshes/end4_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.108 0.020 0.020"/>
      </geometry>
      <origin xyz="-0.0340163 0 0" rpy="0 0 0"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.034 0.0285 0.0465"/>
      </geometry>
      <origin xyz="-0.0310163 0 -39" rpy="0 0 0"/>
    </collision>
  </link>
  <link name="fc">
    <inertial>
      <origin xyz="0.0187 0.0016986 -0.0012499" rpy="0.0 -0.0 0.0"/>
      <mass value="0.013487"/>
      <inertia ixx="1.8175e-06" ixy="3.5211e-09" ixz="2.4144e-11" iyy="1.8131e-06" iyz="-1.8205e-10" izz="3.6133e-06"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hydragon/meshes/fc.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
  </link>
  <joint name="front1_roll" type="revolute">
    <limit effort="3" lower="-3.14" upper="3.14" velocity="12.5"/>
    <parent link="front1_link"/>
    <child link="body1_link"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.10204 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="gimbal1_pitch" type="revolute">
    <limit effort="3" lower="-3.14" upper="3.14" velocity="12.5"/>
    <parent link="body1_link"/>
    <child link="duct1_link"/>
    <axis xyz="0. 1. 0."/>
    <origin xyz="-0.16998 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="rotor1" type="continuous">
    <limit effort="100" velocity="0.5" upper="26.5" lower="0.0"/>
    <parent link="duct1_link"/>
    <child link="thrust1"/>
    <axis xyz=" 0.  0. -1."/>
    <origin xyz="0.0 0.0 0.015" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="end1_roll" type="revolute">
    <limit effort="3" lower="-3.14" upper="3.14" velocity="12.5"/>
    <parent link="body1_link"/>
    <child link="end1_link"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.33997 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="joint1_yaw" type="revolute">
    <limit effort="10.0" lower="-1.57" upper="1.57" velocity="0.1"/>
    <parent link="end1_link"/>
    <child link="front2_link"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="-0.081991 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="front2_roll" type="revolute">
    <limit effort="3" lower="-3.14" upper="3.14" velocity="12.5"/>
    <parent link="front2_link"/>
    <child link="body2_link"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.10204 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="gimbal2_pitch" type="revolute">
    <limit effort="3" lower="-3.14" upper="3.14" velocity="12.5"/>
    <parent link="body2_link"/>
    <child link="duct2_link"/>
    <axis xyz="0. 1. 0."/>
    <origin xyz="-0.16998 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="rotor2" type="continuous">
    <limit effort="100" velocity="0.5" upper="26.5" lower="0.0"/>
    <parent link="duct2_link"/>
    <child link="thrust2"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="0.0 0.0 0.015" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="end2_roll" type="revolute">
    <limit effort="3" lower="-3.14" upper="3.14" velocity="12.5"/>
    <parent link="body2_link"/>
    <child link="end2_link"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.33997 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="joint2_yaw" type="revolute">
    <limit effort="10.0" lower="-1.57" upper="1.57" velocity="0.1"/>
    <parent link="end2_link"/>
    <child link="front3_link"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="-0.081991 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="front3_roll" type="revolute">
    <limit effort="3" lower="-3.14" upper="3.14" velocity="12.5"/>
    <parent link="front3_link"/>
    <child link="body3_link"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.10204 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="gimbal3_pitch" type="revolute">
    <limit effort="3" lower="-3.14" upper="3.14" velocity="12.5"/>
    <parent link="body3_link"/>
    <child link="duct3_link"/>
    <axis xyz="0. 1. 0."/>
    <origin xyz="-0.16998 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="rotor3" type="continuous">
    <limit effort="100" velocity="0.5" upper="26.5" lower="0.0"/>
    <parent link="duct3_link"/>
    <child link="thrust3"/>
    <axis xyz=" 0.  0. -1."/>
    <origin xyz="0.0 0.0 0.015" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="end3_roll" type="revolute">
    <limit effort="3" lower="-3.14" upper="3.14" velocity="12.5"/>
    <parent link="body3_link"/>
    <child link="end3_link"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.33997 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="joint3_yaw" type="revolute">
    <limit effort="10.0" lower="-1.57" upper="1.57" velocity="0.1"/>
    <parent link="end3_link"/>
    <child link="front4_link"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="-0.081991 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="front4_roll" type="revolute">
    <limit effort="3" lower="-3.14" upper="3.14" velocity="12.5"/>
    <parent link="front4_link"/>
    <child link="body4_link"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.10204 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="gimbal4_pitch" type="revolute">
    <limit effort="3" lower="-3.14" upper="3.14" velocity="12.5"/>
    <parent link="body4_link"/>
    <child link="duct4_link"/>
    <axis xyz="0. 1. 0."/>
    <origin xyz="-0.16998 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="rotor4" type="continuous">
    <limit effort="100" velocity="0.5" upper="26.5" lower="0.0"/>
    <parent link="duct4_link"/>
    <child link="thrust4"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="0.0 0.0 0.015" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="end4_roll" type="revolute">
    <limit effort="3" lower="-3.14" upper="3.14" velocity="12.5"/>
    <parent link="body4_link"/>
    <child link="end4_link"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.33997 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="fc_joint" type="fixed">
    <!-- <limit effort="0.0" velocity="0.0" lower="0.0" upper="0.0"/> -->
    <parent link="end2_link"/>
    <child link="fc"/>
    <!-- <axis xyz="0. 1. 0."/> -->
    <!-- <origin xyz="-0.052067 -0.0022499 0.077061" rpy="0.0 -0.0 0.0"/> -->
  </joint>

</robot>
