<?xml version="1.0"?>
<launch>
  <arg name="config_dir" default="$(find gimbalrotor)/config"/>
  <arg name="airframe" default="grape"/>
  <arg name="robot_ns" default="arm"/>

  <group ns="$(arg robot_ns)">
    ###########  Servo Config  ###########
    <rosparam file="$(arg config_dir)/$(arg airframe)/Servo_arm.yaml" command="load"/>

    ###########  Servo Bridge  ###########
    <arg name="robot_model" value="$(find gimbalrotor)/robots/$(arg airframe)/gimbalrotor.urdf.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro '$(arg robot_model)'"/>
    <node pkg="aerial_robot_model" type="servo_bridge_node" name="servo_bridge_arm" output="screen">
      <remap from="joint_states" to="joint_states_arm"/>
    </node>

    ###########  spinal Bridge  ###########
    <include file="$(find spinal)/launch/bridge.launch">
      <arg name="serial_port" value="/dev/ttyUSB1"/>
    </include>

  </group>

</launch>
