<?xml version='1.0' encoding='UTF-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="proto_type">
  <baselink name="fc" />
  <thrust_link name="thrust" />
  <m_f_rate value="-0.02" />
  <xacro:property name="max_force" value="20.0" />
  <xacro:property name="min_force" value="-20.0" />
  <xacro:macro name="thrust_link" params="name">
    <link name="${name}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.0091"/>
        <inertia
            ixx="0.00000807" ixy="0.0" ixz="0.0"
            iyy="0.00000807" iyz="0.0"
            izz="0.00001612"/>
      </inertial>
    </link>
  </xacro:macro>
  <link name="root">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.00001"/>
      <inertia
          ixx="0.000001" ixy="0.0" ixz="0.0"
          iyy="0.000001" iyz="0.0"
          izz="0.000002"/>
    </inertial>
  </link>
  <joint name="root_joint" type="fixed">
    <parent link="root"/>
    <child link="base_link"/>
    <origin rpy="1.5708 0 0" xyz="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>
    <link name="base_link">
    <inertial>
      <origin xyz="5.0128636417574e-06 -0.0 -0.01" rpy="0.0 -0.0 0.0"/>
      <mass value="4.133"/>
      <inertia ixx="0.0222240677656555" ixy="10.28612545459733e-06" ixz="-4.8107950986871e-09" iyy="0.01243442433014907" iyz="2.67294728800918e-11" izz="0.0125174721752126"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://uuv_d/urdf/mesh/prototype_2/meshes/base_link.dae"/>
      </geometry>
      <material name="__unnamed_material_1"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://uuv_d/urdf/mesh/prototype_2/meshes/base_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <xacro:thrust_link name="thrust1"/>
  <xacro:thrust_link name="thrust2"/>
  <xacro:thrust_link name="thrust3"/>
  <xacro:thrust_link name="thrust4"/>
  <xacro:thrust_link name="thrust5"/>
  <xacro:thrust_link name="thrust6"/>
  <xacro:thrust_link name="thrust7"/>
  <xacro:thrust_link name="thrust8"/>
  <link name="fc"/>
  <joint name="rotor1" type="continuous">
    <limit effort="0.0" velocity="0.0" lower="${min_force}" upper="${max_force}"/>
    <parent link="base_link"/>
    <child link="thrust1"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="0.092197 -0.12685 -0.092197" rpy="1.9549 -0.0 2.7255"/>
  </joint>
  <joint name="rotor2" type="continuous">
    <limit effort="0.0" velocity="0.0" lower="${min_force}" upper="${max_force}"/>
    <parent link="base_link"/>
    <child link="thrust2"/>
    <axis xyz=" 0.  0. -1."/>
    <origin xyz="0.092197 -0.12685 0.092197" rpy="1.1867 -0.0 2.7255"/>
  </joint>
  <joint name="rotor3" type="continuous">
    <limit effort="0.0" velocity="0.0" lower="${min_force}" upper="${max_force}"/>
    <parent link="base_link"/>
    <child link="thrust3"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="-0.092197 -0.12685 0.092197" rpy="1.1867 -0.0 -2.7255"/>
  </joint>
  <joint name="rotor4" type="continuous">
    <limit effort="0.0" velocity="0.0" lower="${min_force}" upper="${max_force}"/>
    <parent link="base_link"/>
    <child link="thrust4"/>
    <axis xyz=" 0.  0. -1."/>
    <origin xyz="-0.092197 -0.12685 -0.092197" rpy="1.9549 -0.0 -2.7255"/>
  </joint>
  <joint name="rotor8" type="continuous">
    <limit effort="0.0" velocity="0.0" lower="${min_force}" upper="${max_force}"/>
    <parent link="base_link"/>
    <child link="thrust8"/>
    <axis xyz="0. 0. -1."/>
    <origin xyz="0.092197 0.12685 -0.092197" rpy="1.9549 -0.0 0.41613"/>
  </joint>
  <joint name="rotor5" type="continuous">
    <limit effort="0.0" velocity="0.0" lower="${min_force}" upper="${max_force}"/>
    <parent link="base_link"/>
    <child link="thrust5"/>
    <axis xyz=" 0.  0. 1."/>
    <origin xyz="0.092197 0.12685 0.092197" rpy="1.1867 -0.0 0.41613"/>
  </joint>
  <joint name="rotor6" type="continuous">
    <limit effort="0.0" velocity="0.0" lower="${min_force}" upper="${max_force}"/>
    <parent link="base_link"/>
    <child link="thrust6"/>
    <axis xyz="0. 0. -1."/>
    <origin xyz="-0.092197 0.12685 0.092197" rpy="1.1867 -0.0 -0.41613"/>
  </joint>
  <joint name="rotor7" type="continuous">
    <limit effort="0.0" velocity="0.0" lower="${min_force}" upper="${max_force}"/>
    <parent link="base_link"/>
    <child link="thrust7"/>
    <axis xyz=" 0.  0. 1."/>
    <origin xyz="-0.092197 0.12685 -0.092197" rpy="1.9549 -0.0 -0.41613"/>
  </joint>
  <joint name="fc" type="fixed">
    <limit effort="0.0" velocity="0.0"/>
    <parent link="base_link"/>
    <child link="fc"/>
    <axis xyz="0. 0. 0."/>
    <origin xyz="0.0078688 -0.056686 -0.007546" rpy="3.1415853071795867 -0.0 0.0"/>
  </joint>
  <transmission name="rotor_tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rotor1">
      <hardwareInterface>RotorInterface</hardwareInterface>
    </joint>
    <actuator name="rotor1">
      <hardwareInterface>RotorInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="rotor_tran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rotor2">
      <hardwareInterface>RotorInterface</hardwareInterface>
    </joint>
    <actuator name="rotor2">
      <hardwareInterface>RotorInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="rotor_tran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rotor3">
      <hardwareInterface>RotorInterface</hardwareInterface>
    </joint>
    <actuator name="rotor3">
      <hardwareInterface>RotorInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="rotor_tran4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rotor4">
      <hardwareInterface>RotorInterface</hardwareInterface>
    </joint>
    <actuator name="rotor4">
      <hardwareInterface>RotorInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="rotor_tran5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rotor5">
      <hardwareInterface>RotorInterface</hardwareInterface>
    </joint>
    <actuator name="rotor5">
      <hardwareInterface>RotorInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="rotor_tran6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rotor6">
      <hardwareInterface>RotorInterface</hardwareInterface>
    </joint>
    <actuator name="rotor6">
      <hardwareInterface>RotorInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="rotor_tran7">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rotor7">
      <hardwareInterface>RotorInterface</hardwareInterface>
    </joint>
    <actuator name="rotor7">
      <hardwareInterface>RotorInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="rotor_tran8">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rotor8">
      <hardwareInterface>RotorInterface</hardwareInterface>
    </joint>
    <actuator name="rotor8">
      <hardwareInterface>RotorInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
    <material name="__unnamed_material_1">
    <color rgba="0.75294118 0.75294118 0.75294118 1.        "/>
  </material>

</robot>
